:root {
    --background-color: #000;
    --text-color: #fff;
    --heading-color: #00bcd4;
    --button-border-color: #00bcd4;
    --status-color: #00bcd4;
    --card-bg-color: rgba(0, 0, 0, 0.5);
    --icon-color: #00bcd4;
    --button-hover-bg: chocolate;
    --button-hover-text: white;

}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Text zentrieren */
    width: auto;
    max-width: 800px;
    overflow-x: hidden;
}

.logo {
    transform: scale(0.20);
    /* 75 % kleiner */
    display: block;
    /* Verhindert unerwünschte Abstände */
    margin-bottom: -110px;
    /* Abstand zwischen Bild und H2 */
}

h1,
h2 {
    color: var(--heading-color);
}

h1 {
    font-size: 2.7rem;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Stil für sichtbare Abschnitte */
.visible {
    opacity: 1;
    transform: translateY(0);
}


input,
button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--button-border-color);
    border-radius: 20px;
    background-color: black;
    color: var(--text-color);
    margin-bottom: 12px;
    text-align: center;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.1),
        inset -2px -2px 5px rgba(0, 0, 0, 0.6);
}

#stadt-eingabe {
    width: 200px;
}

#plz-eingabe {
    max-width: 100px;
    background-color: black;
}

#land-eingabe {

    width: 200px;
}

#suchen {
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.6),
        inset -3px -3px 5px rgba(0, 0, 0, 0.9);
    background-color: var(--heading-color);
    width: 123px;
    color: var(--background-color);
}

button {
    cursor: pointer;

}

.container button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}

.laden {
    animation: blinken 1.5s infinite;
    /* Blinkanimation */
    color: var(--status-color);
}

/* Blinkanimation */
@keyframes blinken {

    0%,
    100% {
        opacity: 1;
        /* Volle Sichtbarkeit */
    }

    50% {
        opacity: 0.5;
        /* Halbtransparent */
    }
}

#status {
    margin: 10px 0;
    font-size: 18px;
    color: var(--status-color);
}

#grundlegende-info,
#aktuelle-daten,
#stunden-daten,
#tage-daten {
    margin-top: 20px;
    width: 360px;
    max-width: 500px;
}

#aktuelle-daten {
    display: flex;
    justify-content: center;
    /* Zentriert die Inhalte horizontal */
    align-items: center;
    /* Zentriert die Inhalte vertikal (falls nötig) */
}

/* Container für die Temperatur-Card */
#temp-card {
    margin: 0 auto;
    /* Zentriert das Element horizontal */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--card-bg-color);
    border-radius: 15px;
    padding: 10px;

    margin: 10px 0;
    z-index: -100;
    border: 1px solid var(--button-border-color);
}

/* Temperaturstil */
#temperatur {
    vertical-align: middle;
    font-size: 4.5rem;
    color: var(--text-color);
    margin-right: 10px;
    /* Abstand zwischen Temperatur und Icon */
}


.mdi {
    font-size: 110px;
    vertical-align: middle;
    color: var(--icon-color);
    margin-left: 20px;
    color: var(--icon-color);
}

#stunden-container div,
#tage-container div {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--card-bg-color);
}


/* karussel */


.wrapper {
    top: 45px;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    perspective: 1000px;
    /* 3D-Perspektive für das Karussell */
    z-index: -1000;

    margin-bottom: 150px;
}

/* Inneres Element für die Karten-Rotation */
.inner {
    --w: 150px;
    /* Breite der Karten */
    --h: 15vh;
    /* Höhe der Karten */
    --translateZ: calc((var(--w) + var(--h)) * 0.6);
    /* Abstand der Karten von der Mitte */
    --rotateX: -15deg;
    /* Schrägstellung der Ansicht */
    --perspective: 1000px;
    position: absolute;
    width: var(--w);
    height: var(--h);
    z-index: 2;
    transform-style: preserve-3d;
    transform: perspective(var(--perspective));
    animation: rotating 20s linear infinite;
    border-radius: 5px;

}

@keyframes rotating {
    from {
        transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(0);
    }

    to {
        transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(-1turn);
    }
}

/* Karte für das Karussell */
.card {
    position: absolute;
    width: 100%;
    height: 45px;
    border-radius: 15px;
    background-color: rgba(var(--color-card), 0.6);
    transform: rotateY(calc((360deg / var(--quantity)) * var(--index))) translateZ(var(--translateZ));
    box-shadow: 0 0vh 0px rgba(255, 255, 255, 0.9);
    background-color: rgba(var(--color-card), 0.9);
    border: 1px solid var(--button-border-color);
    backdrop-filter: blur(5px);
}


/* Karte individuell ansprechbar */
.card:nth-child(1) {}

.card:nth-child(2) {}

.card:nth-child(3) {}

.card:nth-child(4) {}

.card:nth-child(5) {}

.card:nth-child(6) {}

.Wetterdaten {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.6rem;
    /* Schriftgröße */
    font-weight: bold;
    color: var(--text-color);
    /* Weißer Text */
    border-radius: 15px;
    padding: 10px;
}


#map-container {
    display: none;
    margin-top: -40px;
    text-align: center;
}

#map-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

#map {
    width: 350px;
    height: 300px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid var(--button-border-color);
}

#aktuelle-daten,
.wrapper,
#grundlegende-info {
    display: none;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    background-color: var(--background-color);
}

.footer-text {
    color: var(--status-color);
    font-size: 14px;
    margin-top: 10px;
}