body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #00bcd4;
}

input, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #00bcd4;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}
#plz-eingabe {
   
    max-width: 100px;
}
button {
    cursor: pointer;
}

button:hover {
    background-color: #00bcd4;
    color: #000;
}

#status {
    margin: 10px 0;
    font-size: 18px;
    color: #ff5722;
}

#grundlegende-info, #aktuelle-daten, #stunden-daten, #tage-daten {
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
}

#stunden-container div, #tage-container div {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #222;
}
.material-icons {
    font-size: 48px;
    vertical-align: middle;
    color: #00bcd4;
    margin-left: 10px;
}
